<form class="form comment-form">
      <div class="form-group">
        <label for="comment">Write comment here:</label>
        <input class="form-input" type="text" id="comment" />
      </div>
</form>