<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <form class="form comment-form">
      <div class="form-group">
        <label for="comment">Write commment here:</label>
        <input class="form-input" type="text" id="comment" />
      </div>
</form>
    <button class="btn btn-primary comment-btn">Submit comment</button>
  </p>
  <script src=".js/comment.js"></script>
</div>
